body, html {
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans KR', Arial, sans-serif;
}
.container {
    display: flex;
    height: 100%;
}

#map {
    flex: 1;
}
/* .map-button {        => 아래 범례 부분에 정의 
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  } */
  .back-to-map-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4e301b;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
    z-index: 1000;
}

.back-to-map-button:hover {
    background-color: #faab73;
}

.back-to-map-button .material-symbols-outlined {
    font-size: 30px;
}

/* .locate-button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.locate-button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}   */
#cafe-video-container {
    width: 100%;
    height: 315px; /* 원하는 높이 값으로 설정 */
}
.cafe-marker-label {
    padding: 3px 5px;
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    white-space: nowrap;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

#cafe-opening-hours, #cafe-message {
    white-space: pre-wrap;
}

.cafe-name {
    font-weight: 700;
    font-size: 11px;
}


.co-work {
    background: #ffe9bc /*#996c5e*/;  /*#A4D65E;*/
    color: rgb(0, 0, 0);
}

.sidebar {
    width: 400px;
    background-color:  /*#FFF5E1*/ #f4f4f9;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}
.header {
    background-color: #4e301b /*#4CAF50*/;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-family: 'Jua', sans-serif;
    font-size: 24px;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    cursor: pointer;
}

.back-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.back-icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    vertical-align: middle;
}

.empty-space {
    width: 24px;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 10px;
}
.search-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    background-color: white;
}
.search-container button {
    background-color:#4e301b /* #4CAF50*/ ;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 30px;
    margin-left: 5px;
    cursor: pointer;
}
.search-results {
    padding: 10px;
    display: none;
}
.search-results ul {
    list-style-type: none;
    padding: 0;
}
.search-results li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.info {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
.info.hidden {
    display: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f4f4f9;
}
video {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 10px;
}
.cafe-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.cafe-item:hover {
    background-color: #eee;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        border-right: none;
        border-top: 1px solid #ddd;
        max-height: 174px;
        overflow-y: hidden;
    }
    .sidebar.expanded {
        max-height: 100%;
        overflow-y: auto;
    }

    .back-button{
        display: block;
    }
}

@media (min-width: 769px) {
    .container {
        flex-direction: row;
    }
    .sidebar {
        width: 400px;
        border-left: 1px solid #ddd;
        border-top: none;
        max-height: 100%;
        overflow-y: auto;
    }
}


.school-select-container {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}
.school-select-container select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    background-color: white;
    padding-right: 30px;
}
.school-select-container::after {
    content: '\E5C5';
    font-family: 'Material Symbols Outlined';
    position: absolute;
    right: 25px;
    top: 63%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
}



/*카페 디테일 - 주소 css*/
.address-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;  /* 절대 위치 지정을 위한 기준점 */
    padding-right: 80px; /* 버튼 너비 + 여백만큼 오른쪽 패딩 추가 */
  }
  
  .address-container strong {
    flex-shrink: 0;
    margin-right: 5px;
  }
  
  #cafe-address {
    flex: 1 1 auto;
    white-space: normal;
    word-break: break-all;
  }
  
  .finder-button {
    position: absolute;  /* 절대 위치 지정 */
    right: 0;            /* 오른쪽에 고정 */
    top: 0;              /* 위쪽에 고정 */
    padding: 5px 10px;
    background-color:#4e301b  /*#4CAF50*/;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 70px;  /* 버튼의 너비 지정 */
  }


/* 지도 범례 추가 */

.map-controls {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    z-index: 10;
}

.map-button {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-right: 10px;  /* 버튼과 범례 사이의 간격 */
}

.legend {
    background: white;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.legend-item {
    display: flex;
    align-items: center;
    margin: 2px 0;
}

.legend-color {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border: 1px solid #000;
}

.legend-color.co-work {
    background-color: #ffe9bc /*#996c5e*/;
}

.legend-color:not(.co-work) {
    background-color: #FFFFFF;
}
